<?xml version="1.0" encoding="UTF-8"?>
<!--Configuration behind the configuration, this is used to set the internal information output of log4j2, can not be set, when set to trace, you will see various detailed output inside log4j2 -->
<!--monitorInterval: Log4j can automatically detect the modified configuration file and reconfigure itself, set the interval seconds -->
<Configuration status="INFO" monitorInterval="30">
    <!--Log level and priority ordering: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->

    <!--Variable Configuration -->
    <Properties>
        <!-- Formatted output: %d indicates date, %level: level, %msg: log message, %n is a newline -->
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss a} %level %c - %m %n</Property>

        <!-- Define the path of the log storage, do not configure the relative path -->
        <Property name="APP_LOG_ROOT">log/</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--Format of output log -->
            <PatternLayout pattern="%highlight{${LOG_PATTERN}}" />

            <!--The console only outputs information of level and above (onMatch), other direct rejection (onMismatch)-->
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY" />
        </Console>

        <RollingFile name="ApplicationLog" fileName="${APP_LOG_ROOT}/application.log" filePattern="${APP_LOG_ROOT}/application-%d{yyyy-MM-dd}_%i.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <!-- DefaultRolloverStrategy property, if not set, defaults to the maximum of 7 files in the same folder to start over-->
            <DefaultRolloverStrategy max="10" />
        </RollingFile>

        <RollingFile name="SpringLog" fileName="${APP_LOG_ROOT}/lib/spring.log" filePattern="${APP_LOG_ROOT}/lib/old/spring-%d{yyyy-MM-dd}_%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="HibernateLog" fileName="${APP_LOG_ROOT}/lib/hibernate.log" filePattern="${APP_LOG_ROOT}/lib/old/hibernate-%d{yyyy-MM-dd}_%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!-- <JDBC name="DatabaseLog" tableName="t_logs">
            <ConnectionFactory class="com.tnc.config.ConnectionFactory" method="getDatabaseConnection" />
            <ColumnMapping name="log_id" pattern="%uuid{TIME}" type="java.util.UUID"/>
            <ColumnMapping name="entry_date" pattern="%d"/>
            <ColumnMapping name="logger" pattern="%c"/>
            <ColumnMapping name="log_level" pattern="%level"/>
            <ColumnMapping name="message" pattern="%m"/>
        </JDBC> -->
    </Appenders>

    <Loggers>
        <Logger name="com.tnc" additivity="false" level="info">
            <AppenderRef ref="ApplicationLog"/>
            <AppenderRef ref="Console"/>
            <AppenderRef ref="DatabaseLog"/>
        </Logger>

        <Logger name="org.springframework" additivity="false" level="info">
            <AppenderRef ref="SpringLog"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.hibernate" additivity="false" level="info">
            <AppenderRef ref="HibernateLog"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>